@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-family: 'Jost', sans-serif;
}

input{
    margin-bottom: 10px;
    width: 500px;
    padding: 5px;
}